@import url('https://cdn.jsdelivr.net/npm/reveal.js@5/dist/reveal.css');
@import url('https://cdn.jsdelivr.net/npm/reveal.js@5/dist/theme/simple.css');
:root {
    --r-code-font: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
    --r-main-font: Avenir Next, Helvetica, Arial, sans-serif !important;
    --r-heading-font: Avenir Next, Helvetica, Arial, sans-serif !important;
}
